body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pop-up{
    width: 400px;
    padding: 10px;
    text-align: center;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.close{
    position: absolute;
    right: -10px;
    top: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: red;
    cursor: pointer;
}
.close::after{
    content: "";
    width: 10px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 8px;
    transform: rotate(45deg);
}
.close::before{
    content: "";
    width: 10px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 8px;
    transform: rotate(135deg);
}