body{
    background-color: #eee;
}
form{
    width: 100%;
    text-align: center;
}
input,select{
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
}
input:last-of-type{
    width: 300px;
    margin: 0 auto;
    background-color: #00909E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.results{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    margin-top: 20px;
    width: calc(33.33333333333333% - 1%);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    max-height: 100px;
    color: white;
    background-color: #FC5A2A;
    border-radius: 10px;
}
